<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="keepHeaderList" type="System.Configuration.AppSettingsSection" />
    <section name="destinationList" type="System.Configuration.AppSettingsSection" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <!-- Application config settings -->
  <appSettings>
    <add key="CheckInterval" value="60" />
    <add key="DropFolder" value="C:\inetpub\mailroot\Drop" />
    <add key="PickupFolder" value="C:\inetpub\mailroot\Pickup" />
    <add key="Sender" value="postoffice@your-domain.com" />
  </appSettings>

  <!-- A list of headers that are retained when forwarding an email -->
  <keepHeaderList>
    <add key="Date" value="" />
    <add key="Subject" value="" />
    <add key="MIME-Version" value="" />
    <add key="Content-Type" value="" />
    <add key="Content-Transfer-Encoding" value="" />
    <add key="Return-Path" value="" />
  </keepHeaderList>

  <!--
  Mappings of emails, where the key is the original recipient and the value is the new recipient. 
  The asterisk '*' is a wildcard character to catch all uncaught email for a domain. The global 
  match of 'key="*"' is mandatory, and matches any unmatched email address. Note that the rules 
  are evaluated in decreasing order of specificity until a match is found. Be careful to avoid 
  infinite loops! (I.E. never send email back to the server that MailRepeater is running on).
  If a value is empty then all emails that match the corresponding key will be deleted.
  -->
  <destinationList>
    <add key="info@your-domain.com" value="&quot;Person Name&quot; &lt;person.name@gmail.com&gt;" />
    <add key="noreply@your-domain.com" value="" />
    <add key="*@your-domain.com" value="" />
    <add key="*" value="" />
  </destinationList>

</configuration>
